<template>
  <div class="search-box">
    <input
      type="text"
      class="search-bar"
      placeholder="enter city..."
      v-model="query"
      @keypress="fetchWeather"
    />
  </div>
</template>

<script>
  export default {
    name: 'Search'
  }
</script>

<style scoped>
  .search-box {
    width: 360px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .search-box .search-bar {
    display: block;
    width: 360px;
    padding: 15px;
    text-align: center;

    color: #313131;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background: none;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 15px;
  }

  .search-box .search-bar:focus {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
  }
</style>
