<template>
  <div id="app">
    <Search></Search>
  </div>
</template>

<script>
  import Search from './components/search-bar'

  export default {
    name: 'App',
    components: {
      Search
    },
    data() {
      return {
        api_key: 'c908af17c4afab8c75c8427330004d9f',
        url_base: 'https://api.openweathermap.org/data/2.5/',
        query: '',
        weather: {}
      }
    },
    methods: {}
  }
</script>

<style></style>
